body{
  background-image: url(photo.jpg);
  background-size: 100%;
}
.btn_one{
  color: white;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  left: 16px;
  line-height: 30px;
}
.sidebar_menu{
  position: fixed;
  /* left: -350px; */
  height: 100vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.119);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.253);
}
.sidebar_menu .logo{
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.253);
}
.logo a{
  position: absolute;
  left: 60px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.sidebar_menu .btn_two{
  position: absolute;
  color: white;
  font-size: 20px;
  line-height: 60px;
  left: 270px;
}
.sidebar_menu .menu {
  /* position: absolute; */
  width: 100%;
  /* top: 80px; */
}
.sidebar_menu .menu li{
  margin-top: 6px;
  padding: 1px 20px;
}