#box1{
  height: 100px;
  width: 300px;
  text-align: center;
  background-color: yellow;
  /* transition-duration: 2s;
  transition: ease-in;
  transition-delay: 0.5s;
  transition: width; */
  transition: width 2s ease-in 0.5s;
}
#box1:hover{
  width: 400px;

}
#box2{
width: 100px;
height: 100px;
background: red;
transform: translate(200px,200px) rotate(90deg);
}
#box3{
width: 100px;
height: 100px;
background: lightblue;
transform: skew(20deg);
}
#box4 {
  width: 100px;
  height: 100px;
  background: lightgreen;
  box-shadow: 2px 2px 5px rgb(9, 45, 9);
}
#mypic {
  width: 200px;
  height: 200px;
  background: pink;
  margin: 20px;
  background-size: cover;
  opacity: .5;
}